<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Social Networking: technologies and applications (2017)</a></h1>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">

								<p>
									Il <a href="http://bit.ly/polito-sonet" title="Sito del corso di Social Networking">corso</a> sviluppa un'analisi approfondita del fenomeno dei Social Network e definisce le caratteristiche tecnologiche, strutturali e le pratiche relazionali e comunicative abilitate da queste nuove forme socio-tecnologiche.
									Durante il corso, gli studenti impareranno i concetti e i meccanismi che stanno dietro alle tecnologie del Social Web, come la progettazione di un social network, la sua realizzazione prototipale e la validazione con degli utenti.
									In particolare, si affronter&agrave; tale argomento da due punti di vista: uno rivolto agli aspetti sociali e di comunicazione dei SNS e uno pi&ugrave; orientato verso gli aspetti di progettazione e di sviluppo tecnologico.
								</p>
							</div>
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon"><img src="{{ site.baseurl }}/assets/images/knowledge.png" alt="" /></i>
										<header>
											<h2>Conoscere</h2>
										</header>
										<p>Analisi storica e comparativa dei principali social network mondiali, analisi delle principali teorie sull'interazione mediata e sui modelli di networking e community building, riflessione sugli effetti dei Social Network sulle dinamiche relazionali e comunicative off line. Tecnologie e best practice coinvolte nell'utilizzo di tecnologie Web e nella creazione di siti.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon"><img src="{{ site.baseurl }}/assets/images/skills.png" alt="" /></i>
										<header>
											<h2>Progettare</h2>
										</header>
										<p>Analizzare il target di un Social Network, definire il suo concept e la value proposition, progettare le interazioni e i meccanismi di community bulding-networking, prototipare l'interfaccia e le sue affordance sociali. Disegnare modelli di engagement, viralità, sostenibilità. Progettare elementi di monitoring e design iterativo.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon"><img src="{{ site.baseurl }}/assets/images/engagement.png" alt="" /></i>
										<header>
											<h2>Realizzare</h2>
										</header>
										<p>Progettare e implementare il proprio Social Network, lavorando in gruppi intorno a idee proposte individualmente e valutate in maniera collettiva. I gruppi saranno composti da 2 o 3 studenti e selezioneranno i progetti da portare avanti durante il corso. Realizzare un prototipo funzionante di sito, utilizzando tecnologie Web come HTML5, CSS3, JavaScript e AngularJS. Comunicare efficacemente il proprio progetto, attraverso un video di user-scenario.</p>
									</section>
								</div>
							</div>
								<span class="moreInfo">
									Per maggiori informazioni visita il sito ufficiale del corso all'indirizzo <a href="http://bit.ly/polito-sonet" title="Sito del corso di Social Networking">http://bit.ly/polito-sonet</a>.
								</span>
						</section>

				</div>
			</div>
